on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on early-init && property:ro.boot.hwc=CN
    setprop ro.miui.build.region cn

on early-init && property:ro.boot.hwc=Global
    setprop ro.miui.build.region global

on early-init && property:ro.boot.hwc=India
    setprop ro.miui.build.region in

on early-init && property:ro.boot.hwc=Japan
    setprop ro.miui.build.region jp

on property:persist.sys.xtra-daemon.enabled=*
    restart loc_launcher
